
    <% @question.comments.each do |comment| %>

    <p>
        <% if comment.user.avatar.attached? %>
			<%= image_tag comment.user.avatar, class: "rounded-circle", height: 25 %>
		<% else %>
			<%= image_tag "/default_avatar.png",  height: 25 %>
		<% end %>
        <strong class="ml-1"><%= comment.user.username%> says ...</strong>
    </p>
    

        <div class="edit_comment" >
    <%# open div for OP colour  %>
    <% if comment.question.user_id == comment.user_id %>
        <div class="note">
    <% end %>
            <p class="comment"><%= comment.comment_text %></p>
    <%# close div for OP colour  %>
    <% if comment.question.user_id == comment.user_id %>    
        </div>
    <% end %>
    <div>

            <%# added in image to comment if saved under this section %>
            <% if comment.comment_images.attached? %>
                <% comment.comment_images.each do |img| %>
                    <div class="col text-center">
                        <div><%= image_tag img, style: 'height:150px;width:auto;' %></div>
                        <div><%= img.filename %></div>
                    </div>
                <% end %>
            <% end %>

    
    <%# edit comments partial  %>
    <%= render  "editcomment", comment: comment %>
    
    <small class="text-muted"> Posted <%= time_ago_in_words(comment.created_at) %> ago </small>

    <%# edit and delete buttons  %>
    <% if user_signed_in?%>
        <% if comment.user_id == current_user.id %>
            <span class="small">
            <%= link_to  "Edit", [comment.question, comment], method: :patch, class: "btn btn-warning edit-button ml-2", :remote => true %>
            <span class="text-muted"> | </span>
            <%= link_to  "Delete", [comment.question, comment], method: "delete", class: "btn btn-danger",data: { confirm: "Are you sure you want to delete this comment?"} %>
            </span>
        <% end %>
 
    <hr>
    <% end %>

    <% end %>

<%= javascript_pack_tag 'comments' %>
