<div>
    <% @question.comments.each do |comment| %>

    <p>
        <% if comment.user.avatar.attached? %>
					<%= image_tag comment.user.avatar, class: "rounded-circle", height: 25 %>
					<% else %>
					<%= image_tag "/default_avatar.png",  height: 25 %>
		<% end %>
        <strong class="ml-1"><%= comment.user.username%> says ...</strong>
    </p>
   
    <% if comment.question.user_id == comment.user_id %>
    <div class="note">
    <% end %>

    <p class="comment"><%= comment.comment_text %></p>

    <% if comment.question.user_id == comment.user_id %>
    <%# added in image if saved under this section %>
    <% if @question.comment_images.attached? %>
        <% @question.comment_images.each do |img| %>
            <div class="col text-center">
                <div><%= image_tag img, style: 'height:150px;width:auto;' %></div>
                glnkdl
                <div><%= img.filename %></div>
            </div>
        <% end %>
    <% end %>
    
    
    </div>
    <% end %>
    <%= render  "editcomment", comment: comment %>
    <%# if user is not logged in, he can see comments and comment.user_id == current_user.id would not glitch out %>

       <small class="text-muted"> Posted <%= time_ago_in_words(comment.created_at) %> ago </small>

    <% if user_signed_in?%>

        <% if comment.user_id == current_user.id %>
            <span class="small">
            <%= link_to  "Edit", [comment.question, comment], method: :patch, class: "btn btn-warning edit-button ml-2", :remote => true %>
            <span class="text-muted"> | </span>
            <%= link_to  "Delete", [comment.question, comment], method: "delete", class: "btn btn-danger",data: { confirm: "Are you sure you want to delete this comment?"} %>
            </span>
        <% end %>
 
    <hr>
    <% end %>

    <% end %>
</div>
<%= javascript_pack_tag 'comments' %>
