<div>
    <% @question.comments.each do |comment| %>
    <h4>Comment by <%= comment.user.username%></h4>
    <p class="comment"><%= comment.comment_text %></p>
    <%= render  "editcomment", comment: comment %>
    <%# if user is not logged in, he can see comments and comment.user_id == current_user.id would not glitch out %>
    <% if user_signed_in?%>
    <% if comment.user_id == current_user.id %>
    <div class="d-flex align-self-center ">
    <%= link_to  "Edit", [comment.question, comment], method: :patch, class: "btn btn-warning edit-button ml-2", :remote => true %>
    <%= link_to  "Delete", [comment.question, comment], method: "delete", class: "btn btn-danger ml-2",data: { confirm: "Are you sure you want to delete this comment?"} %>
    </div>
    <% end %>
    <% end %>
    <p>Posted <%= time_ago_in_words(comment.created_at) %> ago.</p>
    <% end %>
</div>
<%= javascript_pack_tag 'comments' %>