<div>
    <% @question.comments.each do |comment| %>

    <p>
        <% if comment.user.avatar.attached? %>
					<%= image_tag comment.user.avatar, class: "rounded-circle", height: 25 %>
					<% else %>
					<%= image_tag "/default_avatar.png",  height: 25 %>
		<% end %>
        <strong class="ml-1"><%= comment.user.username%> says ...</strong>
    </p>
   
    <% if comment.question.user_id == comment.user_id %>
    <div class="note">
    <% end %>

    <h4>Comment by <%= comment.user.username%></h4>
    <p class="comment"><%= comment.comment_text %></p>

    <% if comment.question.user_id == comment.user_id %>
    </div>
    <% end %>
    <%= render  "editcomment", comment: comment %>
    <%# if user is not logged in, he can see comments and comment.user_id == current_user.id would not glitch out %>

       <small class="text-muted"> Posted <%= time_ago_in_words(comment.created_at) %> ago </small>

    <% if user_signed_in?%>

        <% if comment.user_id == current_user.id %>
            <div class="d-flex align-self-center ">
            <%= link_to  "Edit", [comment.question, comment], method: "update", class: "btn btn-warning", :remote => true %>
            <span class="text-muted"> | </span>
            <%= link_to  "Delete", [comment.question, comment], method: "delete", class: "btn btn-danger",data: { confirm: "Are you sure you want to delete this comment?"} %>
            </div>
        <% end %>
 
    <hr>
    <% end %>


    <p>Posted <%= time_ago_in_words(comment.created_at) %> ago.</p>
    <% end %>
</div>
<%= javascript_pack_tag 'comments' %>

