<%# <h1>Questions#edit</h1>
<p>Find me in app/views/questions/edit.html.erb</p> %>

<div class="container mt-4">

<% if @question.errors.any? %>
    <%= pluralize(@question.errors.count, "error") %>
    <% @question.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"> <%= message %> </div>
    <% end %>
<% end %>

    <div class="card bg-light">
        <div class="card-header">Question: </div>
            <div class="card-body"> 
            <div class="font-italic"> <%= @question.question_text %> </div>
        </div>
        <div class="card-footer" style="font-size: 60%">
            <div class="text-danger"> Expires: <%= @question.expiry_date.strftime("%d %b %Y, %I:%M%p") %></div>
            <div class="text-muted"> Current Time: <%= Time.now.strftime("%d %b %Y, %I:%M%p") %></div>
        
        </div>
    </div>
    
    

    <hr class="hr-new">

    <div class="card">
        <div class="card-body">
        <%= form_for @question do |q| %>

        <div class="form-row">
        <%= q.label :description, "Description" %>
        <%= q.text_area :description, class: "form-control", placeholder: "(Optional)" %>
        </div>
        <br>
        <div class="form-row">
            <%= q.label :question_images, "Upload Images" %>
        </div>
        <div class="form-row">
            <%= q.file_field :question_images, multiple: true, direct_upload: true, class: "btn btn-dark btn-sm" %>
        </div>
        
        <hr class="hr-new">

        <%= q.submit "Save", class: "btn btn-success btn-sm px-4" %>
        <%= link_to  "Cancel", question_path(@question), class:"btn btn-danger btn-sm px-4" %>

        <% end %>
        </div>
    </div>
</div>
