<h1>Questions#new</h1>
<p>Find me in app/views/questions/new.html.erb</p>
<div class="container">

  <%= simple_form_for @question do |q| %>
    <div class="form-row">
      <%= q.label :question_text, "Question" %>
      <%= q.text_field :question_text, class: "form-control" %>
    </div>
    <div class="form-row">
      <%= q.label :description, "Description" %>
      <%= q.text_area :description, class: "form-control" %>
    </div>
    <div class="form-row">
      <%= q.label :expiry_date, "Expiry Date" %>
      <%= q.date_field :expiry_date, class: "form-control" %>
    </div>

    <hr>

    <h5> Options </h5>

<%#= q.simple_fields_for :options do |b| %>
    <div id="fieldsetContainer">
      <fieldset id="0">
        <%#= b.text_field :option_text, class: "form-control" %>

        <input class="form-control mb-2" type="text" name="question[options_attributes][0][option_text]" id="question_options_attributes_0_option_text" placeholder="yes">
              
      </fieldset>
      <fieldset id="1">
        
         <input class="form-control mb-2" type="text" name="question[options_attributes][1][option_text]" id="question_options_attributes_1_option_text" placeholder="no">

      </fieldset> 

    </div>

      <button class="btn btn-sm btn-warning mb-2" type="button" id="addBook">Add Options</button>

      <br>

    <%= q.submit "Submit", class: "btn btn-primary btn-sm" %>

  <%end%>

</div>
