<div class="container mt-4">
    <div class="row">
        <div class="col text-center my-3">
            <h3>Search Results</h3>
        </div>
    </div>
    <h4>Polls</h4>
	<div class="row row-cols-1 row-cols-md-2">
        
		<% @questions.each do |ques| %>
		<div class="col mb-6">
			<div class="card-index mb-2">

				<div class="card-header">
					<div class="row">
						<div class="col-md-8 text-left">
							<h5>
								<% if ques.user.avatar.attached? %>
								<%= image_tag ques.user.avatar, class: "def-img", height: 50 %>
								<% else %>
								<%= image_tag "/default_avatar.png",  height: 50, class:"def-ava" %>
								<% end %>
								<%= ques.user.username %> asks...
							</h5>
						</div>
						<div class="col-md-4 text-right">
							<%= link_to "VIEW", question_path(ques.id), class: "btn btn-outline-warning btn-sm px-3" %>
						</div>
					</div>
				</div>

				<div class="card-body">
					<%#= link_to question_path(ques.id) do %>

					<h6 class="card-title"><%= ques.question_text %></h6>
					<span class="badge badge-warning"> <%= link_to"##{ques.category.cat_type}", category_path(ques.category.id) %>
					</span> <br>
					<small class="card-text">Expires: <%= ques.expiry_date.strftime('%d %b %Y, %I:%M%p') %></small>

				</div>

				<div class="card-footer text-muted text-right">

					<small> Posted: <%= (ques.created_at + 8.hours).strftime('%d %b %Y, %I:%M%p') %></small>
				</div>


			</div>
		</div>
		<% end %>
    </div>
    <h4>Categories</h4>
	<div class="row row-cols-1 row-cols-md-2">
        
        <div class="col">
            <% @categories.each do |category| %>
                <span class="badge badge-warning"> <%= link_to"##{category.cat_type}", category_path(category.id) %>
                </span>
            <% end %>
        </div>

    </div>
</div>