<%# <h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p> %>
<div class="container">

	<div class="card mt-4">
		<div class="card-header">
			<div class="row">
				<div class="col-md-8 text-left">
					<h5>
						<% if @question.user.avatar.attached? %>
						<%= image_tag @question.user.avatar, class: "rounded-circle", height: 50, class:"def-img" %>
						<% else %>
						<%= image_tag "/default_avatar.png",  height: 50, class:"def-ava" %>
						<% end %>
						<%= @question.user.username %> asks...
					</h5>
				</div>
				<div class="col-md-4 text-right">
					<% if user_signed_in? %>
					<% if current_user == @question.user || current_user.admin? %>
					<%= link_to 'Elaborate?', edit_question_path(@question), class: "btn btn-warning btn-sm" %>
					<%= link_to 'Delete', question_path(@question), method: "delete", data: {title: 'Delete Poll', confirm: 'Are you sure?'} , class: "btn btn-danger btn-sm" %>

					<% if @question.status %>
					<%= link_to 'Close Poll', questions_toggle_path(question_id: @question.id), method: "post", class: "btn btn-warning btn-sm" %>
					<% else %>
					<%= link_to 'Reopen Poll', questions_toggle_path(question_id: @question.id),method: "post", class: "btn btn-outline-success btn-sm" %>
					<% end %>

					<% end %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="card-body">
			<h5 class="card-title"><%= @question.question_text %></h5>
			<p class="card-text"><em><%= @question.description %></em></p>
			<div class="container">
				<div class="row">
					<% if @question.question_images.attached? %>
					    <% @question.question_images.each do |img| %>
					<div class="col text-center">
							<div><%= image_tag img, style: 'height:150px;width:auto;' %></div>
							<div><%= img.filename %></div>
					</div>
                        <% end %>
					<% end %>
				</div>
            </div>

        <% if @category.cat_type != "" %>
            <span class="badge badge-warning cat-index"> <%= link_to "##{@category.cat_type}", category_path(@category.id) %></span> <br>
        <% end %>
				
		<% if user_signed_in? %>
            <p class="small text-right">
            <%= link_to "Flag as Inappropriate", questions_flag_path(question_id: @question.id), method: "post" %> </p>
            <% end %>
			
        </div>


		<div class="card-footer text-muted">
			<div class="row">
                <div class="col-md-6 text-left">
                    <small class="text-danger">Expires: <%= @question.expiry_date.strftime('%d %b %Y, %I:%M%p') %></small>

                </div>
                <div class="col-md-6 text-right">

                    <small> Posted: <%= (@question.created_at + 8.hours).strftime('%d %b %Y, %I:%M%p') %></small>

                </div>
            </div>
		</div>

	</div>
	

	<%# <br> %>

	
	<div class="card my-4">
		<div class="card-body card-res">

			<% votersArr = [] %>
			<% if current_user %>
    			<% @options.each do |o| %>
    			    <% votersArr = votersArr + o.voters %>
			    <% end %>
					<% if votersArr.include? current_user.id %>
						<p> Thanks for voting! </p>
					<% elsif !@question.status %>
						<p> Poll is closed! </p>
					<% else %>
						<%= form_with url: "/options/addvote" do |f|%>
							<%= f.collection_radio_buttons(:option_id, @options, :id, :option_text) do |b| %>

								<div class="form-check">
									<div class="form-check-input"><%= b.radio_button %></div>
									<label class="form-check-label" style="margin-top:0.25rem;"><%= b.label %></label>
								</div>
							<% end %>

							<hr>
							<%= f.submit "Vote!", class:"btn btn-outline-success btn-sm"%>
						<% end %>

					<% end %>
		
			<% else %>
					
				<small><%= link_to "Sign in", new_user_session_path %> to vote!</small>
				
			<% end %>
		</div>		
	</div>	
	

	<% if votersArr.any? %>
	<div class="card">
		<h5 class="card-header">Results</h5>
		<div class="card body card-res py-2" >
			<% @options.each do |o| %>

			<div class="container my-2">
				<p class="font-italic font-weight-bold ml-2"><%= o.option_text %></p>
				<% bar_len = ((o.votes.to_f / votersArr.length.to_f) * 100).round %>
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width:<%= bar_len %>%"><%= o.votes %></div>
				</div>
			</div>
			<% end %>


		</div>
	</div>

	<% end %>

	<div class="card mt-4">
		<h5 class="card-header">Comments (<%= @question.comments.size %>)</h5>
		<div class="card-body">

			<% if @question.comments.size > 0 %>
			<%= render partial: 'questions/comment'%>

			<% end %>



			<% if user_signed_in? %>
			<%= render partial: 'comments/form' %>

			<% else %>
			<hr id="c">
			<small><%= link_to "Sign in", new_user_session_path %> to comment!</small>
			<% end %>
		</div>
	</div>
	
</div>