<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>
<div class="container">

    <div class="card">
        <h5 class="card-header">User: <%= @question.user_id %></h5>
            <div class="card-body">
                <h5 class="card-title"><%= @question.question_text %></h5>
                <p class="card-text"><%= @question.description %></p>
                <p class="card-text"><%= @question.expiry_date %></p>
            </div>
    </div>

    <%# = form_for %>
   <%# collection_radio_buttons(:option, :question_ids, Question.all, :id, :display_option) %>
    <% @question.options.each do |option| %>

         <li> <%= option.option_text %></li>

    <% end %>

    <div class="card">
        <h3>Comments (<%= @question.comments.size %>)</h3>
        <%= render partial: 'questions/comment', collection: @question.comments.reverse %>
        <%= render partial: 'comments/form' %>

    </div>
</div>