<h1> <%= @user.username %> Profile </h1> <br>
<% if @user.avatar.attached? %>
<%= image_tag @user.avatar, class: "rounded-circle", height: 50 %>
<% else %>
<%= image_tag "/default_avatar.png",  height: 50 %>
<% end %>
<strong>Username:</strong> <%= @user.username %> <br>
<strong>Email:</strong> <%= @user.email %> <br>
<strong>Profile Description:</strong> <%= @user.profile_description %> <br>