<!DOCTYPE html>
<html>

<head>
    <title>Dstny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
    <% if notice %>
    <p class="notice alert alert-success" style="margin:0;"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert alert alert-danger" style="margin:0;"><%= alert %></p>
    <% end %>

    <%# Navbar starts %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to  "Icon", questions_path(@questions), class:"nav-link"%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to  "Polls", questions_path(@questions), class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to  "New Poll", new_question_path, class:"nav-link"%>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">
                    Search
                </button>
            </form>
        
        <%# Navbar ends %>
        <ul class="navbar-nav">

            <% if user_signed_in? %>
            <%#= current_user.email %>
            <li class="nav-item">
                <%= link_to current_user.username, user_path(current_user), class:"nav-link mx-2" %>
            </li>

            <li class="nav-item">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"nav-link mx-2"%>
            </li>

            <% else %>
            <%#= link_to "sign up", new_user_registration_path %>
            <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class:"nav-link mx-2" %>
            </li>
        </ul>
		</div>

        <% end %>

    </nav>

    <div class="container">
        <style>
            body,
            html {
                background-color: rgba(128, 128, 128, .9);
                /* background: linear-gradient(
                        rgba(0, 0, 0, 0.1),
                        rgba(0 , 0, 0, 0.1)), url("/bg.jpg") no-repeat center center fixed; */
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>

        <%= yield %>
</body>
</div>

</html>