<!DOCTYPE html>
<html>

<head>
    <title>Dstny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/faq256.png" type="image/png" >
    
</head>

<body>
    <% if notice %>
    <p class="notice alert alert-success" style="margin:0;"><%= notice %></p>
    <% end %>

    <% if alert %>
    <p class="alert alert alert-danger" style="margin:0;"><%= alert %></p>
    <% end %>

    <%# Navbar starts %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
   <%= link_to questions_path do %>
        <div class="navbar-brand">
            <img src="/faq256.png" width="30" height="30" alt="poll" loading="lazy"><span id="brand" class="pl-2">DSTNY</span>
        </div>
    <%end%>
    <%# <a class="navbar-brand" href="#">Navbar</a> %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to  "Polls", questions_path, class:"nav-link"%>
                </li>
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to  "New Poll", new_question_path, class:"nav-link"%>
                    </li>
                <% end %>
                <li class="nav-item">
                    <%= link_to  "Categories", categories_path(@categories), class:"nav-link"%>
                </li>
                <%# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> %>
                <li class="nav-item">
                </li>
            </ul>
            <form action="/questions/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search_term" />
                <button class="btn btn-outline-warning my-2 my-sm-0 mr-2" type="submit">
                    Search
                </button>
            </form>

            <%# Navbar ends %>
            <ul class="navbar-nav">

                <% if user_signed_in? %>
                <%#= current_user.email %>
                <li class="nav-item">
                    <%= link_to current_user.username, user_path(current_user), class:"nav-link ml-4 mr-2" %>
                </li>
                <li class="nav-item">
                    <% if user_signed_in? %>
                    <% if current_user.admin? %>
                    <%= link_to  "(Admin)", categories_path(@categories), class:"nav-link"%>
                    <% end %>
                    <% end %>
                </li>

                <%# <li class="nav-item"> %>
                    <%#= link_to "Log Out", destroy_user_session_path, method: :delete, class:"nav-link mx-2"%>
                <%# </li> %>

                <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="nav-item fa fa-sign-out fa-2x mt-1 ml-4 mr-2" id="signin" style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="bottom" title="Sign Out" aria-hidden="true"></i>
                <% end %>

                <% else %>
                <%# = link_to "sign up", new_user_registration_path
                <li class="nav-item">
                    <%= link_to "Sign In", new_user_session_path, class:"nav-link mx-2" %>
                    <%# <i class="fa fa-car"></i> %>
                    
                <%# </li> %>
                <%= link_to new_user_session_path do %>
                    <i class="nav-item fa fa-sign-in fa-2x mt-1 ml-4 mr-2" id="signin" style="width: 30px; height: 30px;" data-toggle="tooltip" data-placement="bottom" title="Sign In" aria-hidden="true"></i>
                <% end %>


            </ul>
        </div>

        <% end %>

    </nav>

    <%# <div class="container">
        <style>
            body,
            html {
                background-color: rgba(128, 128, 128, .9);
                /* background: linear-gradient(
                        rgba(0, 0, 0, 0.1),
                        rgba(0 , 0, 0, 0.1)), url("/bg.jpg") no-repeat center center fixed; */
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style> %>
        
        <article>
        
        
        <%= yield %>
        </article>
        
        <footer>
        <div id="cp-footer">© <a href="#">J</a><a href="#">A</a><a href="#">R</a><a href="#">S</a> 2020 </div>
        <a href="https://github.com/siu-sing/dstny"><img src="/GitHubLight32px.png" style="width:15px; height:15px; margin-top: 5px;"></a>
        </footer>
        
</body>
<%# </div> %>

</html>